* {
  box-sizing: border-box;
  font-weight: 500;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



h1 {
  font: 2em "Tahoma";
  font-weight: 700;
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  font-weight: 700;
  font-size: 0.8em;
}

body {
  display:  grid;
  grid-template:
  "header" 60px
  "hiring-dev" 600px
  "about-me" 270px
  "portfolio" 380px
  "experience" 300px 
  "footer" 50px/
  1fr;
  margin: 0;
  background-color:rgb(59, 34, 16);
}


p {
  font-size: 0.75em;
}

.header {
  display: grid;
  grid-template:
    ". first-name . nav-ab nav-portf nav-expe" 60px /
    0.2fr 3fr 1fr 100px 100px 100px;
  color: rgb(217, 241, 227);
  background-color: rgb(17, 122, 63);
  margin-top: 5px;
  padding-top: 5px;
  font-weight: 600;
  font-size: 1.6em;
}

.first-name {
  grid-area: first-name;
}
#nav-ab {
  grid-area: nav-ab;
}
#nav-portf {
  grid-area: nav-portf;
}
#nav-expe {
  grid-area: nav-expe;
}

.background-A {
  color: rgb(235, 255, 243);
  background-color: rgb(17, 122, 63);
}

.nav {
  border: none;
  border-radius: 3px;
  padding: 5px; 
  margin-right: 10px;
  margin-top: 16px;
  height: 25px;
  width: 80px;
  color: rgb(17, 122, 63);
  background-color:rgb(235, 255, 243);
}
.hiring-dev {
  grid-area: hiring-dev;
  color: rgb(235, 255, 243);
  font-size: 2em;
  background-color: rgb(17, 122, 63);
  display: grid;
  grid-template:
  ". hiring-dev-contents ." 500px /
  1fr 400px 1fr;
  padding-top: 80px;
  padding-bottom: 130px;
}
.brown-text {
  color: rgb(59, 34, 16);
}

.about-me {
  grid-area: about-me;
  display: grid;
  grid-template:
  ". about-me-contents ." 350px /
  1fr 400px 1fr;
  background-color: white;
  margin-top: 5px;
}
.portfolio {
  place-items: center;
  grid-area: portfolio;
  background-color:rgb(59, 34, 16);
  background-color: rgb(222, 240, 250);
  margin-top: 5px;
}
.portfolio-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  place-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.portfolio-item{
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(59, 34, 16);
  padding: 10px;
  background-color: white;
  box-shadow: 2px 2px 3px rgb(192, 190, 190);
  width: 200px;
}
.portfolio-item-title {
  font-size: 1.2em;
}

.portfolio-read {
  background-color: rgb(59, 34, 16);
  color: white;
  font-size: 0.8em;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px; 
  height: 25px;
  width: 170px;
}

.github-link {
  color: rgb(59, 34, 16);
  font-size: 0.6em;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.experience {
  grid-area: experience;
  display: grid;
  grid-template:
  ". experience-contents ." 400px /
  1fr 400px 1fr;
  background-color: white;
  margin-top: 5px;
}
.tech-skills {
  display: inline;
  width: 50px;
  float-left;
}

ul,li {
  width: 100px;
  font-size: 0.8em;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  grid-area: footer;
  color: white;
  background-color:rgb(59, 34, 16);
  padding-top: 18px;
  padding-left: 25px;
  height: 50px;
}


.hiring-dev-contents {
  grid-area:hiring-dev-contents;
}
.about-me-contents {
  grid-area:about-me-contents;
}
.experience-contents {
  grid-area:experience-contents;
}


.descr {
  font-size: 0.5em;
}


@media screen and (min-width: 1280px) {

  h1 {
    font: 1.5em "Tahoma";
    font-weight: 700;
    margin-top: 0;
  }
   
  body {
    display:  grid;
    grid-template:
    "header     header" 60px
    "hiring-dev about-me" 400px
    "experience portfolio" 400px
    "footer     footer" 50px/
    1fr 1fr;
  }

    .header {
      grid-area: header;
    }
    .hiring-dev {
      grid-area: hiring-dev;
      min-width: 500px;
      padding-top: 40px;
    }
    .about-me {
      grid-area: about-me;
      padding-top: 40px;
      margin-top: 0;
    }
    .experience {
      grid-area: experience;
      padding-top: 40px;
    }

    .portfolio {
      grid-area: portfolio;
    }
    .footer{
      grid-area: footer;
    }
   
}
@media screen and (max-width=499px) {

}
